h3{
    color: green;
    font-size: 20px;
}
.nav-bar{
    width:100%;
    display: flex;
    background-color: green;
    padding-top: 1%;
    padding-bottom: 1%;
    margin:auto;
}
 a{
    text-decoration: none;
    color:white;
    padding-left: 10%;
    font-family:poppins;
    font-size: 19px;
}
#fruList{
    display: flex;
    justify-content: space-between ;
    list-style: none;
}
#mango{
    width: 120px;
    border: 1px solid green;
     padding: 22px 22px 22px 22px;
       border-radius: 20px;
}
#banana{
    width: 120px;
    border: 1px solid green;
    padding: 22px 22px 62px 22px;
      border-radius: 20px;
}

#melon{
    width: 120px;
    border: 1px solid green;
     padding: 22px 22px 22px 22px;
     border-radius: 20px;
}
#vegeList{
    display: flex;
    justify-content: space-between 2cm;
    list-style: none;
}
#onion{
    width: 60%;
}
#kale{
    width: 60%;

}
#tomato{
    width: 60%;
}
footer{
    background-color: black;
    color: white;
}
#footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    margin: 0;
}
 ul {
    list-style-type: none;
}

@media only screen and (max-width:430px){
.nav-bar{
    width: 100%;
}
#title{
        font-size: 20%;
    }
#img{
    width: 40%;
    margin-right: 50px;
}
  #mango{
    width: 70px;
    border: 1px solid green;
     padding: 12px 12px 12px 12px;
       border-radius: 20px;
}
#banana{
    width: 70px;
    border: 1px solid green;
    padding: 12px 12px 32px 22px;
      border-radius: 20px;
}

#melon{
    width: 70px;
    border: 1px solid green;
     padding: 12px 12px 12px 12px;
     border-radius: 20px;
}
#vegeList{
    display: flex;
    justify-content: space-between 2cm;
    list-style: none;
}
#onion{
    width: 60%;
}
#kale{
    width: 60%;

}
#tomato{
    width: 60%;
} 
#vegeImage{
    width: 50%;
} 
}